
body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
header {
    padding: 30px;
    background-color: rgb(91, 145, 245);
    text-align: left;
}

#head {
    padding-top: 10px;
    font-size: 20px;
}

nav {
    display: block;
    background-color: lightgreen;
    padding: 10px;
    text-align: right;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

main {

}

img {
    width: 200px;
    height: 200px;
}

h5 {
    align-items: left;
}

footer {
    display: inline-flex;
    width: 100%;
    background-color: rgb(91, 145, 245);
    justify-content: space-between;
    padding: 80px 80px 0px;
}

#foot {
    padding: ;
}