
body {
    font-size: 16px;
    text-wrap: wrap;
}

header {
    padding: 30px;
    background-color: rgb(91, 145, 245);
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

#headertext {
    padding-top: 5px;
    font-size: 25px;
}

nav {
    background-color: lightgreen;
    padding: 10px;
    font-size: 25px;
    text-align: right;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 20px;
}

a:hover {
    color: white;
}

h2 {
    font-size: 30px;
    padding: 10px;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    padding: 10px;
    font-size: 20px;
}

main a {
    text-decoration: none;
    color:red;
}

main a:hover {
    color: blue;
}

main {
    width: 100%;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.Projects {
    width: auto;
    margin-left: 200px;
}


img {
    position: absolute;
    left: 25px;
    width: 250px;
    height: 250px;
}

.responsive {
    max-width: 100%;
    height: auto;
}

section {
    padding: 40px;
}

footer {
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgb(91, 145, 245);
}

footer ul {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 992px) {
    main,
    nav,
    img,
    footer {
        display: flex;
        flex-direction: column;
    }

    header {
        background: #772014;
    }
    nav,
    footer {
        background-color: #bb8588;
    }
}
 
@media screen and (max-width: 768px) {
    main,
    nav,
    footer {
        display: flex;
        flex-direction: column;
    }
    aside {
        order: 1;
    }
}