
body {
    display: block;
    font-size: 16px;
}

header {
    padding: 30px;
    background-color: rgb(91, 145, 245);
    text-align: left;
}

#head {
    padding-top: 10px;
    font-size: 20px;
}

nav {
    background-color: lightgreen;
    padding: 10px;
    text-align: right;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

a:hover {
    color: white;
}

main a {
    text-decoration: none;
    color: blue;
}

footer a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 25px;
    text-decoration: underline;
}
.Aboutme {
    border-style: solid black;
}
img {
    width: 200px;
    height: 200px;
}


footer {
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgb(91, 145, 245);
}

footer ul {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

